<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
   
    <!--兼容IE10及以下-->
    <!--[if lte IE 10]>
        <style>
            .mic-col-ipt{
                padding-top:8px !important;
            }
        </style>
    <![endif]-->
</head>
<body>
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/images/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="loading_background" class="loading_background" style="display: none;"></div>
    <div id="loading_manage">
        正在拼了命为您加载…
    </div>
    @System.Web.Optimization.Styles.Render("~/Content/styles/base.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/base.js")
    @RenderBody()
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/plugins/datepicker/WdatePicker.js")
    @System.Web.Optimization.Styles.Render(
    "~/Content/styles/zTree.css",
    "~/Content/scripts/plugins/tree/css",
    "~/Content/styles/mapEditor.css",
    "~/Content/styles/learun.css")
    @System.Web.Optimization.Scripts.Render(
    "~/Content/scripts/utils/learun.js",
    "~/Content/scripts/utils/learunEx.js",
    "~/Content/scripts/utils/clientdata",
    "~/Content/scripts/plugins/tree/js",
            "~/Content/scripts/plugins/dialog/js",
                    "~/Content/scripts/utils/zTreejs",
                            "~/Content/scripts/utils/mapEditorjs"
    )
    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>
</body>
</html>
<script>
    var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
    var XZQHCode = '@Infoearth.Application.Code.OperatorProvider.Provider.Current().XZQHCode';
    (function ($, learun) {
        $(function () {
            learun.childInit();
        })
    })(window.jQuery, window.learun)
</script>
@RenderSection("scripts", false)
